* {
    margin: 0px;
    padding: 0px; 
}

/* desktop */
@media (min-width: 916px){
    .colInfo {
    display: flex; 
    align-items: center;
    justify-content: space-evenly;
    padding: 10px;
    width: 100vw;
}
.col1, .col2 {
    max-width: 500px;
    width: 50vw;
    height: 70vh;
}
.links {
    width: 35vw; 
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-top: 20px; 
}
}

/* phone */
@media (max-width: 915px){
    .colInfo {
    display: flex; 
    flex-direction: column-reverse;
    align-items: center;
    justify-content: space-evenly; 
    width: 100vw;
}
.col1, .col2 {
    max-width: 500px;
    width: 100%;
    height: 40vh;
    display: flex; 
    align-items: center;
    justify-content: center;
} 
.links {
    width: 100vw; 
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    padding-top: 20px; 
}
}

 /* for scroll reveal */
html.sr .load-hidden {
    visibility: hidden;
}

.aboutMe, .profilePic {
    padding: 50px;
    border-radius: 20%;
    max-width: 80%; 
    max-height: 80%; 
}

.arrow {
    font-size: 60px;
    color: rgb(224, 232, 218);
    position: absolute;
    bottom: 5%;
    text-decoration: none;
}

.aboutMe  {
    font-size: 18px;
    color:rgb(58, 73, 58);
    overflow: auto; 
}

br {
    height: 30px; 
}




.container1 {
    width: 100vw;
    max-width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 3;
	backdrop-filter: blur(2rem);
}

.container1 {
    background-color: rgb(148, 181, 148);
    padding: 0px; 
}

.container2 {
    width: 60vw; 
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 60vh; 
    z-index: 4;
}

.container3 {
    background-color: rgb(224, 232, 218);
    width: 100vw;
    max-width: 100vw; 
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 2; 
}

.container4 {
    background-color:rgb(58, 73, 58);
    width: 100vw;
    max-width: 100vw; 
    height: 20vh;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    z-index: 3; 
}

.contactInfo h1 {
    color: rgb(224, 232, 218);
    font-size: 20px;
    padding: 10px 0px 10px 35px; 
}

.contactInfo {
    margin-left: 5vw; 
    width: 100%;
}

/* circles  */

/* desktop */
@media (min-width: 916px){
.circle1, .circle2 {
    background: white;
	background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.3),
    rgba(255, 255, 255, 0.05));
	height: 20rem;
	width: 20rem;
	position: absolute;
	border-radius: 50%; 
}

.circle3, .circle4 {
    background: white;
    background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.3),
    rgba(255, 255, 255, 0.05));
    height: 10rem;
    width: 10rem;
    position: absolute;
    border-radius: 50%;
}

.circle5, .circle6 {
    background: white;
    background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.3),
    rgba(255, 255, 255, 0.05));
    height: 8rem;
    width: 8rem;
    position: absolute;
    border-radius: 50%;
}

.circle7, .circle8 {
    background: white;
    background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.3),
    rgba(255, 255, 255, 0.05));
    height: 13rem;
    width: 13rem;
    position: absolute;
    border-radius: 50%;
}
}

/* phone */
@media (max-width: 915px){
    .circle1, .circle2 {
        background: white;
        background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.3),
        rgba(255, 255, 255, 0.05));
        height: 10rem;
        width: 10rem;
        position: absolute;
        border-radius: 50%; 
    }
    
    .circle3, .circle4 {
        background: white;
        background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.3),
        rgba(255, 255, 255, 0.05));
        height: 5rem;
        width: 5rem;
        position: absolute;
        border-radius: 50%;
    }
    
    .circle5, .circle6 {
        background: white;
        background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.3),
        rgba(255, 255, 255, 0.05));
        height: 4rem;
        width: 4rem;
        position: absolute;
        border-radius: 50%;
    }
    
    .circle7, .circle8 {
        background: white;
        background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.3),
        rgba(255, 255, 255, 0.05));
        height: 6rem;
        width: 6rem;
        position: absolute;
        border-radius: 50%;
    }
}

.circle1 {
    bottom: 0;
    right: 20%;
}

.circle2 {
    bottom: 0;
    right: 3%;
}

.circle3 {
    bottom: 0;
    right: 2%; 
}

.circle4{
    bottom: 0;
    right: 9%;
}

.circle5{
    bottom: 0;
    right: 8%;
}

.circle6{
    bottom: 0;
    left: 5%;
}

.circle7{
    bottom: 0;
    left: 6%;
}

.circle8{
    bottom: 0;
    left: 3%;
}

.email {
    color:rgb(224, 232, 218);
    font-size: 15px;
}

.heading {
    margin: 50px 0px 0px 0px; 
}

.heading h1 {
    color:rgb(58, 73, 58);
    font-size: 40px; 
}

h3 {
    height: 30px;
    font-size: 25px; 
}

h5 {
    font-style: italic;
}

.name1, .name2, .name3 {
    width: 100%;
    display:flex; 
    align-items: center;
}

.name1 {
    justify-content: flex-start;
    font-size: 2vw; 
    color:rgb(224, 232, 218)
}

.name2 {
    justify-content: center;
    font-size: 3vw; 
    color:rgb(58, 73, 58) 
}

.name3 {
    justify-content: flex-end;
    font-size: 2vw;
    color:rgb(224, 232, 218) 
}

.navbar {
    display: flex; 
    align-items: center;
    justify-content: flex-end;
    padding: 20px 0px 20px 0px;
    width: 100vw;
    z-index: 4;
    position: fixed;
}

.navbar a {
    color:rgb(58, 73, 58);
    text-decoration: none;
    margin-right: 20px; 
    font-size: 20px;
}

p {
    padding: 5px; 
}


/* desktop */
@media (min-width: 916px){

    .projectCard {
        display: flex; 
        align-items: center;
        justify-content: space-evenly;
        width: 100vw; 
        margin: 20px;
        color:rgb(58, 73, 58);
    }

    .projCol1 {
        max-width: 40vw;
        min-width: 550px; 
    }

    .projCol1 p {
        padding: 10px 0px 0px 0px;
    }

    iframe {
        height: 100%;
        width: 100%;
    }
}

/* phone */
@media (max-width: 915px){

    .projectCard {
        display: flex; 
        align-items: center;
        justify-content: space-evenly;
        width: 100vw; 
        color:rgb(58, 73, 58);
        margin-top: 10px; 
    }

    .projCol1 {
        width: 100vw;
        padding-left: 20px; 
    }
    
    .projCol1 p, h5 {
        padding: 10px 0px 0px 0px;
        font-size: 10px; 
    }

    .projCol1 h3 {
        font-size: 12px; 
    }

    iframe {
        height: 50%;
        width: 80%;
    }
}


/* scrollbar css  */
/* width */
::-webkit-scrollbar {
    width: 10px;
    display: none;
}

  /* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
    display: none;
}

  /* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    display: none;
}

  /* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
    display: none;
}