* {
    margin: 0px;
    padding: 0px;
}

 /* for scroll reveal */
html.sr .load-hidden {
    visibility: hidden;
}

.aboutMe, .profilePic {
    padding: 50px;
    border-radius: 20%;
    height: 500px; 
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
}

.arrow {
    font-size: 60px;
    color: rgb(224, 232, 218);
    position: absolute;
    bottom: 5%;
    text-decoration: none;
}

.aboutMe p {
    font-size: 18px;
    color:rgb(58, 73, 58);
}

.col1, .col2 {
    max-width: 500px;
}

.colInfo {
    display: flex; 
    align-items: center;
    justify-content: space-evenly;
    padding: 10px;
    width: 100vw;
}

.container1 {
    width: 100vw;
    max-width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 3;
	backdrop-filter: blur(2rem);
}

.container1 {
    background-color: rgb(148, 181, 148);
    padding: 0px; 
}

.container2 {
    width: 600px; 
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 60vh; 
    z-index: 4;
}

.container3 {
    background-color: rgb(224, 232, 218);
    width: 100vw;
    max-width: 100vw; 
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 2; 
}

.container4 {
    background-color:rgb(58, 73, 58);
    width: 100vw;
    max-width: 100vw; 
    height: 20vh;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    z-index: 3; 
}

.contactInfo h1 {
    color: rgb(224, 232, 218);
    font-size: 20px;
    margin-left: 20px; 
    padding: 20px; 
}

.contactInfo {
    margin: 50px; 
}

.circle1, .circle2 {
    background: white;
	background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.3),
    rgba(255, 255, 255, 0.05));
	height: 20rem;
	width: 20rem;
	position: absolute;
	border-radius: 50%; 
}

.circle3, .circle4 {
    background: white;
    background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.3),
    rgba(255, 255, 255, 0.05));
    height: 10rem;
    width: 10rem;
    position: absolute;
    border-radius: 50%;
}

.circle5, .circle6 {
    background: white;
    background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.3),
    rgba(255, 255, 255, 0.05));
    height: 8rem;
    width: 8rem;
    position: absolute;
    border-radius: 50%;
}

.circle7, .circle8 {
    background: white;
    background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.3),
    rgba(255, 255, 255, 0.05));
    height: 13rem;
    width: 13rem;
    position: absolute;
    border-radius: 50%;
}

.circle1 {
    bottom: 0;
    right: 20%;
}

.circle2 {
    bottom: 0;
    right: 3%;
}

.circle3 {
    bottom: 0;
    right: 2%; 
}

.circle4{
    bottom: 0;
    right: 9%;
}

.circle5{
    bottom: 0;
    right: 8%;
}

.circle6{
    bottom: 0;
    left: 5%;
}

.circle7{
    bottom: 0;
    left: 6%;
}

.circle8{
    bottom: 0;
    left: 3%;
}

.email {
    color:rgb(224, 232, 218);
    font-size: 15px;
}

.heading {
    margin: 50px 0px 0px 0px; 
}

.heading h1 {
    color:rgb(58, 73, 58);
    font-size: 40px; 
}

h3 {
    height: 30px;
    font-size: 25px; 
}

h5 {
    font-style: italic;
}

iframe {
    height: 100%;
    width: 100%;
}

.links {
    width: 400px; 
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.name1, .name2, .name3 {
    width: 100%;
    display:flex; 
    align-items: center;
}

.name1 {
    justify-content: flex-start;
    font-size: 20px; 
    color:rgb(224, 232, 218)
}

.name2 {
    justify-content: center;
    font-size: 30px;
    color:rgb(58, 73, 58) 
}

.name3 {
    justify-content: flex-end;
    font-size: 20px;
    color:rgb(224, 232, 218) 
}

.navbar {
    display: flex; 
    align-items: center;
    justify-content: flex-end;
    padding: 20px 0px 20px 0px;
    width: 100vw;
    z-index: 4;
    position: fixed;
}

.navbar a {
    color:rgb(58, 73, 58);
    text-decoration: none;
    margin-right: 20px; 
    font-size: 20px;
}

p {
    padding: 5px; 
}

.projectCard {
    display: flex; 
    align-items: center;
    justify-content: space-evenly;
    width: 100vw; 
    margin: 20px; 
    color:rgb(58, 73, 58);
}

.projCol1 {
    max-width: 40vw;
    min-width: 550px; 
}

.projCol1 p {
    padding: 10px 0px 0px 0px;
}

ul {
    margin-left: 50px;
}


/* scrollbar css  */
/* width */
::-webkit-scrollbar {
    width: 10px;
    display: none;
}

  /* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
    display: none;
}

  /* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    display: none;
}

  /* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
    display: none;
}